body{
    margin: 0;
    padding: 0;
    background-color: #FF3739;
}

#main{
    height: 100vh;
    width: 100%;
    position: absolute;
    clip-path: polygon(0% 0%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 0% 100%);
    background-color: aqua;
    overflow: hidden;
    transition: all .5s;
}

#slider{
    width: 700%;
    position: relative;
    left: 0;
}

#slider img{
    width: 14.2857;
    float: left;
}