#slider {
    width: 100%;
    height: 100%;
    overflow: auto;
}

#slider .slides {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: center;
    list-style-type: none;
    width: 100%;
    height: 100%;
}

/* helper css, since we don't have images */
.slide1 {
    background: url(../static/castles-in-the-air-1885.jpg);
}

.slide2 {
    background: url(../static/christ-before-pilate-1881.jpg)
}

.slide3 {
    background: url(../static/impression-sunrise.jpg!hd.jpg);
}

.slide4 {
    background: url(../static/the-agnew-clinic-1889.jpg);
}

.slide5 {
    background: url(../static/the-meadow-of-san-isidro-on-his-feast-day-1788.jpg!halfhd.jpg);
}

.slide6 {
    background: url(../static/the-stages-of-life.jpg!hd.jpg);
}

.slide7 {
    background: url(../static/the-starry-night.jpg!hd.jpg);
}